[
 {log4erl,
  [
   {loggers,
    [
     {default_logger,
      [
       {console_appender, app1,
        [{level, info},
         {format, "%T %j [%L] %l%n"}]},

       {file_appender, app2,
        [{level, info},
         {dir, "."},
         {file, "default_app"},
         {type, size},
         {max, 1000},
         {suffix, "log"},
         {rotation, 5},
         {format, "[%L]: %I, %l;%n"}]}
      ]}
    ]}
  ]}
].
