[
 {log4erl,
  [
   {loggers,
    [
     % Default logger
     % it includes a file appender and a console appender
     {default_logger,
      [
       {console_appender, app1,
        [{level, warn},
         {format, "%T %j [%L] %l%n"}]},

       {file_appender, app2,
        [{level, info},
         {dir, "."},
         {file, "default_app"},
         {type, size},
         {max, 100000},
         {suffix, "log"},
         {rotation, 5},
         {format, "[%L] %I %l%n"}]}
      ]},

     % XML logger
     {xml_logger,
      [
       {xml_appender, app3,
	[{level, all},
	 {dir, "."},
	 {file, "xml_app"},
	 {type, size},
	 {max, 10000},
	 {suffix, "xml"},
	 {rotation, 5}]}
      ]},

     % email logger
     {email_logger,
      [
       {smtp_appender, app4,
        [{level, all},
         {ip, "10.1.102.6"},
         %{port, 25},
         {no_auth, true},
         %{username, "user"},
         %{password, "pass"},
         {from, "admin@log4erl.org"},
         {to, "notification@log4erl.org"},
         {title, "System info"},
         {msg, "[%T %j] %L:%n%l%n"}]}
      ]},

     % syslog logger
     {syslog_logger,
      [
       {syslog_appender, app5,
        [{level, all},
         {facility, ftp},
         {host, "localhost"},
         {port, 514},
         {format, "%l%n"}]}
      ]}
    ]}
  ]}
].
